* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(235, 184, 184);
  color: white;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
}

/* navbar   */
.nav-logo h1 {
  color: blue;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 20px;
}

.nav-list ul {
  color: blue;
  display: flex;
  list-style: none;
  margin: 0 10px;
}
.nav-list ul li {
  margin: 0 20px;
}

/* Home */
.homeImage{
  position: relative;
  text-align: center;
  

}
.homeImage img{
  width: 90%;
  height: 30%;

  
}
.Home {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Home h1 {
  color:pink;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Home p {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color:white;
}

/* about */

.About {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
}
.About h1 {
  color: blue;
  padding-bottom: 20px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.About p {
  font-size: 20px;
  font-weight: bold;
}

/* services */

.Services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 50px;
  margin-left: 5px;
 
}
.places {
  height: 400px;
  width: 350px;
  padding: 15px;
  border: 2px solid rgba(73, 10, 218, 0.301);
  margin: 0 5px;
  background-color: rgb(16, 91, 190);
  border-radius: 10px;
}
.color {
  text-align: center;
  color: red;
  font-weight: bold;
}

.Services-Heading-name {
  text-align: center;
  margin: 10px 5px;
  padding: 10px;
  color: blue;
  font-weight: bold;
}

/* image  */

.service-image{
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Contact */
.contact-Heading-name {
  color: blue;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 15px 0 20px;
  height: 400px;
}
form input,
select {
  padding: 10px;
  margin: 15px 15px;
  border-radius: 10px;
  width: 400px;
}

textarea {
  resize: none;
  height: 200px;
  width: 380px;
  margin: 10px 10px;
  padding: 15px;
  border-radius: 10px;
}

button {
  height: 70px;
  width: 120px;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
  cursor: pointer;
}
button:hover {
  background-color: pink;
}
.Contact-Main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type=text]:focus, input[type=number]:focus,textarea:focus,select:focus {
  background-color: #ddd;
  outline: none;
}

/* footer */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

footer h3 {
  text-align: center;
  font-size: 20px;
  color: blue;
}

.contact-Map iframe {
  width: 500px;
  height: 400px;
}


/* hamburger */
/* .hamburger{
  width: 40px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  top:0;
  right: 10px;
  margin:20px ;

}
.bar{
  height: 5px;
  width: 100%;
  background-color:white;
  display: block;
  border-radius: 5px;
  margin: 6px;
} */

/* home media/responsive */
@media (max-width:500px){
 header nav{
  display: inline-block;
 }
 .nav-logo{
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
 }
  .nav-logo h1{
    font-size:1.6rem;
    width: 100%;
  }
 
 
  .homeImage{
    width: 100%;
   
    
  }
  .homeImage img{
    max-width: 400px; 
    height: 400px;
    
  }
  .Home h1{
    font-size: 1.2rem;
   
    
  }
  .Home p{
    font-size: 1.2rem;
  }
  .Home{
    width: 80%;
  }
  
}

@media(max-width:800px){
  /* nav bar responsive */
  .nav-logo{
    font-size: 1rem;
  }
  
  .homeImage img{
   
    max-width: 550px;
    height: 400px;
  }
 
 
  .Home{
    width: 70%;
    
  }

  .Home h1{
    font-size: 1.8rem;
   
    
  }
  .Home p{
    font-size: 1.2rem;
  }
 
}

/* about media/responsive */

@media(max-width:500px){
  .About h1,.About p{
    font-size: 1rem;
    
  }
  .About p{
    text-align: justify;
  }
 
 
}

@media(max-width:800px){
  .About h1,.About p{
    font-size: 1rem;
    
  }
  
  
 
}

/* services media/responsive */

@media(max-width:500px){
  .Services-Heading-name{
    font-size: 1.5rem;
  }
  .Services{
    display: block;
  }
  .Services .places{
    width: 340px;
    height: 400px;
    margin: 10px 0;
  }
  .Services.places h1,.Services .places p{
    font-size: 1.2rem;
    text-align: center;
  }
}

@media(max-width:800px){
  .Services-Heading-name{
    font-size: 1.5rem;
  }
  .Services{
    display: block;
    

  }
  .Services .places{
    width: 380px;
    height: 480px;
    margin: 10px auto;
  }
  .Services.places h1,.Services .places p{
    font-size: 1.2rem;
    text-align: center;
  }
}

/* contact media/responsive */


@media(max-width:540px){
  .contact-Heading-name{
    font-size: 1.8rem;
  }
  .Contact-Main{
    display: block;
    
  }
 .contactForm{
  width: 80%;
  margin: 0 auto;
 }

 form input,
select {
  padding: 10px;
  margin: 15px 15px;
  border-radius: 10px;
  width: 300px;
}
form textarea{
  padding: 10px;
  margin: 15px 15px;
  border-radius: 10px;
  width: 250px;
}
.contact-Map iframe{
  width: 50%;
  height: 400px;
  padding: 10px;
  margin: 15px 20px;
}
}


@media(max-width:800px){
  .contact-Heading-name{
    font-size: 2rem;
  }

  .contactForm{
    width: 70%;
    margin: 0 auto;
   }
  
   form input,
  select {
    padding: 10px;
    margin: 15px 15px;
    border-radius: 10px;
    width: 300px;
  }
  form textarea{
    padding: 10px;
    margin: 15px 15px;
    border-radius: 10px;
    width: 300px;
  }
  .contact-Map iframe{
    width: 75%;
    height: 350px;
    padding: 10px;
    margin: 10px 20px;
  }
  .contact-Map{
    width: 60%;
    margin: 0 auto;
    
  }

}

@media(max-width:536px){


  .contactForm{
    width: 45%;
    margin: 0 auto;
   }
  
   form input,
  select {
    padding: 10px;
    margin: 15px 15px;
    border-radius: 10px;
    width: 190px;
  }
  form textarea{
    padding: 10px;
    margin: 15px 15px;
    border-radius: 10px;
    width: 190px;
  }
}

@media(max-width:400px){


  .contactForm{
    width: 40%;
    margin: 0 auto;
   }
  
   form input,
  select {
    padding: 10px;
    margin: 15px 15px;
    border-radius: 10px;
    width: 150px;
  }
  form textarea{
    padding: 10px;
    margin: 15px 15px;
    border-radius: 10px;
    width: 150px;
    height: 15%;
    
  }
  .cBtn{
    height: 50px;
    width: 100px;
  }

  .contact-Map iframe{
    width: 80%;
    height: 260px;
    padding: 10px;
    margin: 15px 20px;
  }
  .contact-Map{
    width: 50%;
    margin: 0 auto;
    
  }
 
}


